<div id="contenedor" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <button id="boton" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Otro gato</button>
</div>



<script is:inline>
    const contenedor = document.getElementById("contenedor");
    const boton = document.getElementById("boton");
    const api_url = "https://api.thecatapi.com/v1/images/search";

    const obtenerGato = () => {
        contenedor.innerHTML = '<p>Cargando gato...</p>';

        fetch(api_url)
            .then(res => {
                if (!res.ok) {
                    throw new Error(`Error en la petición: ${res.status}`);
                }
                return res.json();
            })
            .then(images => {
                contenedor.innerHTML = '';
                const img = document.createElement('img');
                img.src = images[0].url;
                img.alt = 'Imagen de un gato';
                contenedor.appendChild(img);
            })
            .catch(error => {
                console.error('Hubo un error al obtener los datos:', error);
                contenedor.innerHTML = `<p style="color:red;">Hubo un error al cargar la imagen: ${error.message}</p>`;
            });
    };

    obtenerGato();
    boton.addEventListener('click', obtenerGato);
</script>